#footer
		.row.full-width
				.large-12.columns
						img.imagen-footer.hide-for-small(src="/static/img/gnuwi.png")
						ul.inline-list
							li
								a(href="contact") Contacto
							li
								a(href="state-service") Estado del servicio
							li
								a(href="estadisticas") Estadísticas
							li
								a(href="terms") Términos de uso
							li
								a(href="dev") Desarrollo
