.row
    .large-6.large-centered.columns.panel
        h5 Necesitas iniciar sesión para ver ésta página.
        .row
            .large-6.columns
                label Usuario
                input(type="text")
                label Contraseña
                input(type="password")
                a.button.radius(href="#") Entrar