ul.pagination(id="call_pagination")
    li.arrow.unavailable // flecha a la izquierda. usar clase unavailable cuando no haya mas paginas a la izquierda.
        a(href="#") &laquo;
    li.current
        a(href="#") 1
    li
        a(href="#") 2
    li
        a(href="#") 3
    li.unavailable
        a(href="#") &hellip; // signo "..."
    li
        a(href="#") 12
    li
        a(href="#") 13
    li
        a(href="#") 14
    li.arrow
        a(href="") &raquo;

