nav.top-bar
	ul.title-area
		li.name
			h1
				a(href="#") pbx.lorea.org
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu

	section.top-bar-section
		//Left Nav Section
		ul.left
			li.divider
			li
				a(href="#") Cooperativa
			li.divider
			li 
				a(href="#") Servicios
			li.divider
			li 
				a(href="#") Tarifas
			li.divider

		ul.right
			li.divider.hide-for-small
			li.has-dropdown 
				a(href="#") Entrar
				ul.dropdown
					li
						label Usuario
					li
						input(type="text", placeholder="Usuario")
					li.divider
					li
						label Contraseña
					li
						input(type="password", placeholder="Contraseña")
					li
						a.button.tiny Entrar
