nav.top-bar
	ul.title-area
		li.name
			h1
				a.icon-phone-circled(href="#") telefoni.cat
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu

	section.top-bar-section
		//Left Nav Section
		ul.left
			li.divider
			li
				a(href="#") Cooperativa
			li.divider
			li 
				a(href="#") Servicios
			li.divider
			li 
				a(href="tarifas") Tarifas
			li.divider
			li 
				a(href="help") Ayuda
			li.divider.hide-for-small
		ul.right
			li.divider
			li 
				a.icon-address-book(href="listin"): span.menuhover Listín
			li.divider
			li
				a.icon-rooms(href="rooms-home"): span.menuhover Salas
			li.divider
			li
				a.icon-voicemail(href="#"): span.menuhover Buzón
			li.divider
			li.has-dropdown
				a.icon-credit(href="#") 30.45€
				ul.dropdown
						li
							label Gestión de saldo
						li
							a.icon-topup(href="#") Recargar
						li 
							a.icon-export(href="#") Traspasar
			li.divider
			li.has-dropdown
				a.icon-user(href="#") nombre_user
				ul.dropdown
						li
							label Mi número
						li.numero.icon-phone-circled 48574583485
						li.divider
						li
							a.icon-bar(href="estadisticas") Consumo
						li 
							a.icon-cog(href="settings") Ajustes
						li.divider
						li
							a.icon-logout(href="#") Salir
