div(ng-controller="UserCtrl")
    p Hola 
        span.user-data {{name}}
    p Your PLN number is: 
        span.user-data {{number}}
    p Your current credit is: 
        span.user-data {{credit}}
