$light-blue: #00ccff;
$light-fucsia: #ff325b;
$text-color-light: #eee;
$text-color-dark: #333;
$background-color-dark: #222;
$background-color-light: #eee;

body {font-size: 90%; background: $background-color-light; color: $text-color-dark;}
h1, h2, h3, h4, h5, h6 {color: $text-color-dark}
#menu { background: #333; width: 100%; }
.topmenu { font-size: 0.9em; }
// .inline-list { font-size: 0.8em; }
@media screen and (min-width: 48em) {
#footer ul.inline-list { margin-left:19%;} }
.imagen-footer {position: absolute;}
.top-bar input, .top-bar .button { top: 0px; }
li.numero { text-align: center; background: $topbar-dropdown-bg; color: white; font-size: 120%}
li.numero:before { font-size: 100% }
.top-bar-section .dropdown li a { background: $topbar-dropdown-bg; }
.listin { width: 100% }
.map { width: 100%; height: 300px; background: #333;}
#references ul, .refs { list-style-type: none; margin-left: 0; color:$text-color-light;}
.refs { width:16px; height: 16px; float: left;} 
.rflast{ clear: right;}
.all-free {background: #ccff00;}
.fixed-free1 {background: $light-blue;}
.fixed-free2 {background: darken($light-blue, 20%);}
.fixed-free3 {background: darken($light-blue, 40%);}
.nothing-free1 {background: $light-fucsia;}
.nothing-free2 {background: darken($light-fucsia, 20%);}
.nothing-free3 {background: darken($light-fucsia, 40%);}

// top bar text on hover
.icon-phone-circled:before { font-size: 100% }
.drilldown {
overflow: hidden;
height: 200px;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
.drilldown ul { list-style: none; margin: 0;}
.drilldown ul li { margin: 5px 0 5px 0; padding: 5px 0 5px 10px; }
.subcat { background: white; }
.drilldown-sub { display: none;}
.drilldown-back {
	font-weight: bold;
	background: white;
}
@media only screen and (max-width: #{$topbar-breakpoint}-1) {
	.drilldown ul li { padding: 20px 0 20px 10px; background: black; }
	.anillas { display: none; }
}
@media only screen and (min-width: #{$topbar-breakpoint}) {
	.icon-voicemail:after, { content: '\e800'; }
	.icon-voicemail:before, { display: none; }
	.menuhover { display: none; }
	a:hover .menuhover { display: inline-block; }
	.derecho { padding-left: 1.5em;}
	.izquierdo { padding-right: 1.5em;}
	.anillas { position: absolute; 	width: 80px; height: 19em; margin-left: 28.75em; background: url(/static/img/anillas3.png) repeat-y }
}
.statsbox{width: 100%; height: 150px; background: $background-color-dark; margin-bottom: 15px;}
.stat-lastdiv { float:left !important;}
.services ul, .services li {list-style-type: none;}
.services img{width: 100%;}
