#menu { background: #333; width: 100%; }
.topmenu { font-size: 0.9em; }
// .inline-list { font-size: 0.8em; }
@media screen and (min-width: 48em) {
.inline-list { margin-left:19%;} }
.imagen-footer {position: absolute;}
.top-bar input, .top-bar .button { top: 0px; }
.numero { text-align: center; }
.top-bar-section .dropdown li a { background: $topbar-dropdown-bg; }
#footer {}

