.row
	.large-12.large-centered.columns
		h3 Buzon de voz
		p Escucha y gestiona los mensajes de tu buzón de voz
						.row
								.large-12.columns
										h4 Lista de grabaciones de la sala
										.row.heading-buz
													.large-4.columns
															h5 Mensaje
													.large-4.columns
															h5 Fecha
													.large-2.columns
															h5 Origen
													.large-2.columns

										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-4.columns.mess-date
															p 9 de marzo de 2013 - 21:34hs
													.large-2.columns.mess-origin
															p 0034678959884
													.large-2.columns.mess-opts
															ul.button-group
																	li
																			a.button.tiny(href="#") Descargar
																	li
																			a.button.tiny(href="#") Borrar
										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-4.columns.mess-date
															p 10 de marzo de 2013 - 09hs 34min 03seg
													.large-2.columns.mess-origin
															p 0034678959884
													.large-2.columns.mess-opts
															ul.button-group
																	li
																			a.button.tiny(href="#") Descargar
																	li
																			a.button.tiny(href="#") Borrar
										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-4.columns.mess-date
															p 10 de marzo de 2013 - 20hs 34min 55seg
													.large-2.columns.mess-origin
															p 0034678959884
													.large-2.columns.mess-opts
															ul.button-group
																	li
																			a.button.tiny(href="#") Descargar
																	li
																			a.button.tiny(href="#") Borrar
