.row
	.large-12.large-centered.columns
		h3 Buzon de voz
		p Escucha y gestiona los mensajes de tu buzón de voz
						.row
								.large-12.columns
										h4 Lista de grabaciones de la sala
										.row.heading-buz
													.large-4.columns
															h5 Mensaje
													.large-3.columns
															h5 Fecha
													.large-3.columns
															h5 Origen
													.large-1.columns
													.large-1.columns
										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-3.columns.mess-date
															p 2013-03-09 22:55:43
													.large-3.columns.mess-origin
															p 0034678959884
													.large-1.columns.mess-down
															a.button.tiny(href="#") Descargar
													.large-1.columns.mess-del
															a.button.tiny(href="#") Borrar

										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-3.columns
															p 2013-03-09 22:55:43
													.large-3.columns
															p 0034678959884
													.large-1.columns
															a.button.tiny(href="#") Descargar
													.large-1.columns
															a.button.tiny(href="#") Borrar

										.row
													.large-4.columns
															audio.buzonau(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
													.large-3.columns
															p 2013-03-09 22:55:43
													.large-3.columns
															p 0034678959884
													.large-1.columns
															a.button.tiny(href="#") Descargar
													.large-1.columns
															a.button.tiny(href="#") Borrar

//										table.listin
//											thead
//												tr
//													th Mensaje
//													th Fecha
//													th Origen
//													th 
//													th 
//											tbody
//												tr
//													td.buzonau
//														audio(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
//													td 2013-03-09 22:55:43
//													td 0034678959884
//													td Descargar
//													td Borrar
//												tr
//													td.buzonau
//														audio(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
//													td 2013-03-09 23:12:43
//													td 1025
//													td Descargar
//													td Borrar
//												tr
//													td.buzonau
//														audio(src="Audio/MHXSEagle.mp3", type="audio/mp3", controls="controls")
//													td 2013-04-09 00:35:43
//													td 788
//													td Descargar
													td Borrar
