.row
		.large-12.large-centered.columns
				h3 Contacto
				p Envianos tus comentarios, sugerencias, propuestas indecentes o solo dinos hola!
		.row
				.large-6.columns
						.row
								.large-12.columns
										.small-3.columns
												label.right.inline(for="right-label") Nombre
										.small-9.columns
												input(type="text", id="right-label")
						.row
								.large-12.columns
										.small-3.columns
												label.right.inline(for="right-label") E-mail
										.small-9.columns
												input(type="text", id="right-label")
						.row
								.large-12.columns
										.small-3.columns
												label.right.inline(for="right-label") Teléfono
										.small-9.columns
												input(type="text", id="right-label")
				
				.row
					.large-6.columns
												label Mensaje
												textarea.contact-mess
				.row
						.large-1.large-centered.columns
												a.button.medium(href="#") Enviar
								
