.row
		h3 Estadísticas
		p Información sobre el consumo general de la red y de tu cuenta
		.section-container.auto(data-section)
				section
						include ../sections/statstab1
				section
						include ../sections/statstab2

