.row
		.large-12.large-centered.columns
				h5 Ayuda
.row
		.large-12.large-centered.columns
				h6 Tutoriales de configuración
				.large-6.columns
						h6  Clientes SIP para ordenadores
						a(href="#") Como configurar SFLphone
						p Instrucciones paso a paso para la configuración de esta aplicación de telefonía sobre ip para ordenadores. Soporta cifrado
				.large-6.columns
						h6  Clientes SIP para Smartphones
						a(href="#") Como configurar CSIPsimple
						p Instrucciones paso a paso para la configuración de la aplicación para android. Soporta cifrado.
.row
		.large-12.large-centered.columns
				h6 Preguntas frecuentes
				.large-6.columns
						h6  El sonido se entrecorta
						p Seguramente tu conexion no sea muy buena o esta muy saturada. Prueba a configurar el codec GSM en tu terminal o en tus opciones de la página web (seleccionar calidad baja).
				.large-6.columns
						h6  No me escuchan o al principio se escucha y luego deja de escucharse
						p Puede ser un problema de configuracion del terminal, y lo mejor es que lo investiguemos. Llama al administrador (extension 0) para explicarle tu problema.
.row
		.large-12.large-centered.columns
				h6 Solución de problemas
				.large-6.columns
						h6  Prueba de eco
						p Es útil para comprobar el estado de la conexión entre tu y la centralita. De este modo te aseguras de que no sea un problema del proveedor. Llama a la extensión 08 desde tu movil o softphone y comprueba que, tras escuchar la locución, puedes hablar y escuchar lo que dices un poco mas tarde. calidad baja).
				.large-6.columns
						h6  Llamar a la administradora
						p Llama a la extensión 0 para hablar con una persona que pueda ayudarte a solucionar tu problema.
.row
		.large-12.large-centered.columns
				.row
						.large-12.large-centered.columns
								h6 Servicios de la centralita
								.large-6.columns
										h6  Buzon de voz
										p Es útil para comprobar el estado de la conexión entre tu y la centralita. De este modo te aseguras de que no sea un problema del proveedor.
								.large-6.columns
										h6  Prueba de eco (08)
										p Llama a la extensión 0 para hablar con una persona que pueda ayudarte a solucionar tu problema.
				.row
						.large-12.large-centered.columns
								.large-6.columns
										h6  Sala de conferencias de prueba (05)
										p Puedes testear la funcionalidad de las salas de conferencia, mientras el servicio no termine su fase de desarrollo.
								.large-6.columns
										h6  Locuciones (502 o 505)
										p Llama para escuchar unas locuciones de prueba.