.row
		.large-12.large-centered.columns
				h5 Listín telefónico
				p Listado de las personas que han decidido hacer público su contacto
				p Filtrar por nombre o extensión
				.large-3.columns
						input(type="text")
.row
				.large-6.columns
						table.listin
								thead
										tr
											th Nombre
											th Extensión
											th Estado
											th Latencia
								tbody
										tr
											td usuario01
											td 1234
											td ok
											td 65ms
										tr
											td usuario02
											td 456
											td ok
											td 65ms
										tr
											td usuario03
											td 1564
											td ok
											td 65ms
				.large-6.columns
						table.listin
								thead
										tr
											th Nombre
											th Extensión
											th Estado
											th Latencia
								tbody
										tr
											td usuario01
											td 1234
											td ok
											td 65ms
										tr
											td usuario02
											td 456
											td ok
											td 65ms
										tr
											td usuario03
											td 1564
											td ok
											td 65ms
										
