.row
		.large-6.columns
				h3 Estadísticas
				p Información sobre el consumo general de la red y de tu cuenta
		.large-6.columns
					label Filtrar por nombre, número o extensión:
					input(type="text")
.row
	.large-6.columns: table.listin.izquierdo
		
	.large-6.columns: table.listin.derecho
		

