.row
		.large-6.columns
				h4 Listín telefónico
				p Personas que han decidido hacer público su contacto.
		.large-6.columns
					label Filtrar por nombre o extensión:
					input(type="text")
.row
				.large-6.columns
						table.listin
								thead
										tr
											th Nombre
											th Extensión
											th Estado
											th Latencia
								tbody
										tr
											td usuario01
											td 1234
											td ok
											td 65ms
										tr
											td usuario02
											td 456
											td ok
											td 65ms
										tr
											td usuario03
											td 1564
											td ok
											td 65ms
				.large-6.columns
						table.listin
								thead
										tr
											th Nombre
											th Extensión
											th Estado
											th Latencia
								tbody
										tr
											td usuario01
											td 1234
											td ok
											td 65ms
										tr
											td usuario02
											td 456
											td ok
											td 65ms
										tr
											td usuario03
											td 1564
											td ok
											td 65ms
										
