.row
		.large-12.large-centered.columns
				h4 Editar Sala
				p texto que explica las opciones de edicion de una sala
		.row.panel
				.large-5.columns
						.row
								.large-12.columns
										h4 Sala: Blabla
										.small-3.columns
												label.right.inline(for="right-label") Nombre
										.small-9.columns
												input(type="text", id="right-label", placeholder="hola")
						.row
								.large-12.columns
										.small-3.columns
												label.right.inline(for="right-label") PIN
										.small-9.columns
												input(type="text", id="right-label", placeholder="hola")
						.row
								.large-12.columns
										.small-7.columns
												label.left.inline(for="customDropdown1") Tipo de acceso
										.small-5.columns
												select.medium.left(id="custom-dropdown")
														option Publica
														option Privada
				.row
						.large-12.columns
								input(type="text", placeholder="Descripción")
								
