.row
		.large-12.large-centered.columns
				h3 Borrar Sala

		.row.panel.callout
				.large-12.columns
						p Esta sala será eliminada completamente. Sus datos no podran ser recuperados, estas segura?

		.row.panel
				.large-12.columns
						.row
								.large-12.columns
										h4 Sala: Blabla
						.row
								.large-12.columns
										h5 Tipo de acceso: Privada
						.row
								.large-12.columns
										h5 Descripción
										p Mucho blabla en esta sala			
						.row
								.large-12.columns
										h5 Categoria
										ul.breadcrumbs
												li
														a(href="#") Salas
												li
														a(href="#") Colores
												li.current
														a(href="#") Mas colores										
				.row
						.large-12.columns
								ul.inline-list
										li
												a.button.small(href="#") Eliminar
										li
												a.button.small(href="#") Cancelar
								
