.row
		.large-12.columns
				h3 Productos y Servicios
				p Nuestro trabajo empaquetado para llevar
.row
	.large-12.columns
			ul.large-block-grid-3.services
					li
							ul
									li
											h5 Producto 1
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
					li
							ul
									li
											h5 Producto 2
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
					li
							ul
									li
											h5 Producto 3
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
					li
							ul
									li
											h5 Producto 4
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
					li
							ul
									li
											h5 Producto 5
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
					li
							ul
									li
											h5 Producto 6
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris	
	.large-6.columns

