.row
		.large-12.columns
				h3 Productos y Servicios
				p Nuestro trabajo empaquetado para llevar
.row
	.large-12.columns
			ul.large-block-grid-3.services
					li
							ul
									li
											h5 Llamadas gratuitas dentro de la red PLN
									li
											img.th(src="/static/img/services-def.png")
									li
											p Disfruta de una comunicación libre dentro de la red PLN. Al registrarte, obtienes una extensión con la cual puedes comunicarte con los usuarios de la red, sin coste alguno.
											a.button.tiny(href="#", data-reveal-id="producto1") Leer mas
					li
							ul
									li
											h5 Llamadas a fijos y móviles con tarifas reducidas
									li
											img.th(src="/static/img/services-def.png")
									li
											p Llama a 40 países, ya sea a fijos o moviles, con tarifas super asequibles!
									li
											a.button.tiny(href="#", data-reveal-id="producto2") Leer mas
					li
							ul
									li
											h5 Telefono IP
									li
											img.th(src="/static/img/services-def.png")
									li
											p Con el terminal de telefonia sobre IP puedes configurar tu cuenta y utilizarlo como un telefono normal. Requiere conexión a internet
									li
											a.button.tiny(href="#", data-reveal-id="producto3") Leer mas
					li
							ul
									li
											h5 Centralita Asterisk
									li
											img.th(src="/static/img/services-def.png")
									li
											p Te ofrecemos la posibilidad de configurar tu propia centralita telefonica y asi habilitar un nodo mas en la red PLN.
									li
											a.button.tiny(href="#", data-reveal-id="producto4") Leer mas
					li
							ul
									li
											h5 Formación en gestión de centralitas
									li
											img.th(src="/static/img/services-def.png")
									li
											p Eres quien administra la infraestructura comunicativa de tu colectivo / organización? aprende a administrar un nodo PLN
									li
											a.button.tiny(href="#", data-reveal-id="producto5") Leer mas
					li
							ul
									li
											h5 Producto 6
									li
											img.th(src="/static/img/services-def.png")
									li
											p Explicacion del producto o servicio ofrecido, Dolor sit amet consectetur adipisicing, Deserunt mollit anim id est, Occaecat cupidatat non proident sunt, Ex ea commodo consequat duis, Quis nostrud exercitation ullamco laboris
									li
											a.button.tiny(href="#") Leer mas
	.large-6.columns

#producto1.reveal-modal.small
		h2 Llamadas gratuitas dentro de la red PLN
		p.lead Porque comunicarse es hoy en dia un derecho fundamental
		p Además de hablar sin límite, tienes la posibilidad de cifrar tus conversaciones, de modo que nadie mas que tu y la otra persona puedan escuchar la conversación. Registrate e incentiva a tus colegas a unirse a la tertulia infinita.
		a.close-reveal-modal &#215;

#producto2.reveal-modal.small
		h2 Llamadas gratuitas dentro de la red PLN
		p Consulta la sección de tarifas donde encontrarás un mapa del mundo con la información de los precios por minuto de cada país.
		a.close-reveal-modal &#215;

#producto3.reveal-modal.small
		h2 Telefono IP
		p Especificaciones técnicas del telefono + tutorial de configuración
		a.close-reveal-modal &#215;

#producto4.reveal-modal.small
		h2 Centralita Asterisk
		p Servicio de configuracion de un servidor de telefonia, formacion en la adminsitracion, documentacion para gestion.
		a.close-reveal-modal &#215;

#producto5.reveal-modal.small
		h2 Formación en gestion de centralitas
		p Curso intensivo en montaje de un servidor de telefonia, adminsitracion de usuarios, proveedores, gestion de servicios.
		a.close-reveal-modal &#215;
