.row
		.large-12.large-centered.columns
				h5 Mis ajustes
.row
						.large-6.columns.panel
								h6 Buzón de voz
								.large-10.columns
										p Activa o desactiva la opción de buzon de voz, y su notificación en los clientes SIP
										a.button.small(href="#") Activar buzón
								.large-2.columns
										img(src="/static/img/buzon-bg.png")
								
						.large-6.columns.panel
								h6 Cifrado
								.large-10.columns 
										a(href="#") Como activar las opciones de cifrado en tu teléfono movil
										br
										a(href="#") Como activar el cifrando en clientes SIP para ordenadores
										br
										a.button.small(href="#") Activar TLS
										a.button.small(href="#") Activar SRTP
								.large-2.columns
										img(src="/static/img/cifrado-bg.png")
.row
		.large-12.large-centered.columns.panel
				.row
						.large-10.columns
								h6 Cambiar contraseña
								p Recuerda: No olvides actualizar la configuración de tu cliente SIP en tu ordenador, móvil o en los ajustes de tu teléfono IP
								.row
										.large-3.columns
												label Contraseña actual
												input(type="text")
												label Nueva contraseña
												input(type="text")
												a.button.small(href="#") Guardar
						.large-2.columns
								img(src="/static/img/contraseña-bg.png")
