.row
    .large-12.large-centered.columns
        h5 Historial del número 4795634987
        .section-container.auto(data-section)
            section
                include /sections/section3.html
            section
                include /sections/section4
            section
                include /sections/section5
    div.pagination-centered
        ul.pagination
            li.arrow-unavailable
                a(href="") &laquo;
            li.current
               a(href="") 1
            li
               a(href="") 2
            li
               a(href="") 3
            li.unavailable
               a(href="") &hellip;
            li
               a(href="") 11
            li
               a(href="") 12
            li.arrow
               a(href="") &raquo;
