p.title(data-section-title)
	a(href="#panel3") Solución de problemas
.content(data-section-content)
	ul
		li
			h6 Prueba de eco
			p Es útil para comprobar el estado de la conexión entre tu y la centralita. De este modo te aseguras de que no sea un problema del proveedor. Llama a la extensión 08 desde tu movil o softphone y comprueba que, tras escuchar la locución, puedes hablar y escuchar lo que dices un poco mas tarde. calidad baja).
		li
			h6 Llamar a la administradora
			p Llama a la extensión 0 para hablar con una persona que pueda ayudarte a solucionar tu problema.
