p.title(data-section-title)
	a(href="#panel2") Preguntas frecuentes
.content(data-section-content)
	ul
		li
			h6 El sonido se entrecorta
			p Seguramente tu conexion no sea muy buena o esta muy saturada. Prueba a configurar el codec GSM en tu terminal o en tus opciones de la página web (seleccionar calidad baja).
		li
			h6 No me escuchan o al principio se escucha y luego deja de escucharse
			p Puede ser un problema de configuracion del terminal, y lo mejor es que lo investiguemos. Llama al administrador (extension 0) para explicarle tu problema.
