p.title(data-section-title)
	a(href="#panel3") Servicios de la centralita
.content(data-section-content)
	.row
		.large-6.columns
			h6  Buzon de voz (*)
			p Llamando al * obtienes acceso a tu buzón de voz.
		.large-6.columns
			h6 Llamar a la administradora (0)
			p Llama a la extensión 0 para hablar con una persona que pueda ayudarte a solucionar tu problema.
	.row
		.large-6.columns
			h6 Sala de conferencias de prueba (05)
			p Puedes testear la funcionalidad de las salas de conferencia, mientras el servicio no termine su fase de desarrollo.
		.large-6.columns
			h6 Locuciones (502 o 505)
			p Llama para escuchar unas locuciones de prueba.
