p.title(data-section-title)
    a(href="#panel1") Charged
.content(data-section-content)
    div(ng-controller="ListCtrl")
        .row
            .large-6.columns
                table.expand
                    include pagination
                    thead
                        tr
                            th Name
                            th Number
                            th Notes
                    tbody
                        tr(ng-repeat="phone in phones")
                            td {{phone.name}}
                            td {{phone.number}}
                            td {{phone.snippet}}
                span {{phones.length}} users
            .large-3.columns.panel
                form(ng-submit="addPhone()")
                    .row
                        .large-12.columns
                            input(type="text", ng-model="phoneName", placeholder="name")
                    .row
                        .large-12.columns
                            input(type="text", ng-model="phoneNumber", placeholder="number")
                    .row
                        .large-12.columns
                            input.button(type="submit", value="add")

