p.title(data-section-title)
		a(href="#panel4") General
.content(data-section-content)
		.row
			.large-6.columns
					h4 Minutos de llamadas
					.statsbox		hola
			.large-6.columns
					h4 Saldo utilizado
					.statsbox hola
			.large-6.columns
					h4 Recargas
					.statsbox		hola
			.large-6.columns
					h4 General
					.statsbox hola		
