p.title(data-section-title)
		a(href="#panel4") Mis estídisticas
.content(data-section-content)
		.row
			.large-6.columns
					h4 Minutos de llamada
					.statsbox		hola
			.large-6.columns
					h4 Saldo utilizado
					.statsbox hola
			.large-6.columns.stat-lastdiv
					h4 Calidad de mi conexión
					.statsbox hola
