p.title(data-section-title)
		a(href="#panel4") General
.content(data-section-content)
		.row
			.large-6.columns
					h4 Cuadro 1
					.statsbox		hola
			.large-6.columns
					h4 Cuadro 2
					.statsbox hola
			.large-6.columns
					h4 Cuadro 1
					.statsbox		hola
			.large-6.columns
					h4 Cuadro 2
					.statsbox hola		
