p.title(data-section-title)
		a(href="#panel4") Recargas
.content(data-section-content)
		p Recargas
		table.listin
				thead
						tr
								th Fecha
								th Monto
				tbody
						tr
								td 2013-01-15 23:08:30
								td 5€

