p.title(data-section-title)
		a(href="#panel4") Facturadas
.content(data-section-content)
		table.listin
				thead
						tr
								th Fecha
								th Destino
								th Duración
								th Coste
								th Precio por minuto
								th Proveedor
				tbody
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
						tr
								td 2013-01-15 23:08:30
								td 0034913278433
								td 1m 5s
								td 0.05€
								td 0.01€
								td OVH
		
