h2 Template helpers
ul
  li
    a(href='/tenjin') Tenjin
  small renders tenjin templates (try /tenjin/tpl_name)
  li
    a(href='/jade') Jade
  small renders jade templates (try /jade/tpl_name)
p Lorea Dev
