#footer.row
			.large-12.columns.centrado
				img.imagen-footer.hide-for-small(src="/static/img/gnuwi.png")
				ul.inline-list
					li
						a(href="#") Contacto
					li
						a(href="#") Estado del servicio
					li
						a(href="#") Estadísticas
					li
						a(href="#") Términos de uso
					li
						a(href="#") Desarrollo
