extends includes/page

block content
	.row
		.large-12.large-centered-columns
				h3 Ayuda
				.section-container.auto(data-section)
						section
								include /sections/helptab1
						section
								include /sections/helptab2
						section
								include /sections/helptab3
						section
								include /sections/helptab4
