

<h1>Links</h1>

<div style="width:80%; margin-left:auto; margin-right:auto; height:100%; background:#eee;">
 
	<div style="width:40%; float: left; background:#eee; padding: 30px;">
		<h2>user</h2>
		<a href="http://localhost:8001/jade/user?logged=1#">/jade/user?logged=1#</a>

		<h2>servicios</h2>
		<a href="http://localhost:8001/jade/user?services=1#">/jade/services?logged=1#</a>

		<h2>Tarifas</h2>
		<a href="http://localhost:8001/jade/tarifas?logged=1#">/jade/tarifas?logged=1#</a>

		<h2>Ayuda</h2>
		<a href="http://localhost:8001/jade/help?logged=1#">/jade/help?logged=1#</a>

		<h2>Ajustes</h2>
		<a href="http://localhost:8001/jade/settings?logged=1#">/jade/settings?logged=1#</a>

		<h2>Rooms home</h2>
		<a href="http://localhost:8001/jade/rooms-home?logged=1#">/jade/rooms-home?logged=1#</a>

		<h2>Rooms room home</h2>
		<a href="http://localhost:8001/jade/rooms-room-home?logged=1#">/jade/rooms-room-home?logged=1#</a>

		<h2>Rooms room edit</h2>
		<a href="http://localhost:8001/jade/rooms-room-edit?logged=1#">/jade/rooms-room-edit?logged=1#</a>
	</div>

	<div style="width:40%; float: right; background:#eee; padding: 30px;"</div>
		<h2>Rooms room edit options</h2>
		<a href="http://localhost:8001/jade/rooms-room-edit-opts?logged=1#">/jade/rooms-room-edit-opts?logged=1#</a>

		<h2>Rooms room delete</h2>
		<a href="http://localhost:8001/jade/rooms-room-delete?logged=1#">/jade/rooms-room-delete?logged=1#</a>

		<h2>Estadisticas</h2>
		<a href="http://localhost:8001/jade/estadisticas?logged=1#">/jade/estadisticas?logged=1#</a>

		<h2>Buzon</h2>
		<a href="http://localhost:8001/jade/buzon?logged=1#">/jade/buzon?logged=1#</a>

	</div>



</div>
























