nav.top-bar
	ul.title-area
		li.name
			h1
				a(href="#") pbx.lorea.org
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu

	section.top-bar-section
		//Left Nav Section
		ul.left
			li.divider
			li
				a(href="#") La cooperativa
			li.divider
			li 
				a(href="#") Productos y servicios
			li.divider
			li 
				a(href="#") Tarifas
			li.divider
			li 
				a(href="#") Listin
			li.divider

		ul.right
			li#buzon
				a(href="#") buzon
			li#salas
				a(href="#") salas
			li.divider.hide-for-small
			li.has-dropdown
				a#desplegar-menu(href="#") Usuario
.row
		#menu.large-12.columns(style="display: none;")
					ul.inline-list.topmenu
						li 000000000
						li.divider
						li 30.45e
						li
							a.button.tiny Recargar
						li
							a.button.tiny Transferir
						li.divider
						li Consumo
						li Ajustes
						li Estadisticas
						li.divider
						li Salir
