<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">pbx.lorea.org </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#">La cooperativa</a></li>
      <li class="divider"></li>
      <li><a href="#">Productos y servicios</a></li>
      <li class="divider"></li>
      <li><a href="#">Tarifas</a></li>
      <li class="divider"></li>
      <li><a href="#">Listin</a></li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">Entrar</a>

        <ul class="dropdown">
          <li><label>Usuario</label></li>
					<li><input type="text" placeholder="hola"></li>
          <li class="divider"></li>
          <li><label>Contrasea</label></li>
					<li><input type="text" placeholder="Contrasea"></li>
          <li class="divider"></li>
        </ul>
      </li>

    </ul>
  </section>
</nav>
