extends includes/page

block content
		if logged
				include pages/rooms-room-delete
		else
				include includes/login
block endscript
		script(src="/static/js/vendor/jquery.js")
		script(src="/static/js/foundation.min.js")
