extends includes/page

block content
	.row
			.large-12.large-centered.columns
					h5 Tarifas
					#map-wrapper
							#references.map
									ul
										li
											ul
												li Todo gratis
												li.refs.all-free
												br
										li
											ul
												li Fijos gratis
												li.refs.fixed-free1
												li.refs.fixed-free2
												li.refs.fixed-free3
												br		
										li
											ul
												li Nada gratis
												li.refs.nothing-free1
												li.refs.nothing-free2
												li.refs.nothing-free3
												br
							svg.map
					p Busca tarifas por país
					.large-3.columns
							input(type="text")
	.row
					.large-12.columns
							table.listin
									thead
											tr
												th País
												th Llamadas a fijos
												th Llamadas a moviles
									tbody
											tr
												td usuario01
												td 1234
												td ok
											tr
												td usuario02
												td 456
												td ok
											tr
												td usuario03
												td 1564
												td ok
